Data Science Jupyter Assignment

This is my Jupyter course assignment

These are Data Science languages
1.Python
2.R Language
3.SQL
4.Java

These are data science libraries
1.plotly
2.Numpy
3.Scipy
4.dplyr
5.matplotlib

| Data Science Tools|
|--------------------|
| Jupyter Notebook   |
| R Studio           |
| Watson Studio      |
|Hadoop              |

Arithmetic examples are 
1.addition
2.multiplication
3.division
4.subtraction

In [6]:
x = 4
y = 6
z = x+y
print("addition is",z)
print("multiply is", x*y)

addition is 10
multiply is 24

In [7]:
def hours_to_minutes(hours):
    minutes = hours * 60
    return minutes
hours = 2
print(f"{hours} hours is equal to {hours_to_minutes(hours)} minutes.")

2 hours is equal to 120 minutes.

This is my project

In [9]:
fruits = ["apple","orange","banana"]
fruits

['apple', 'orange', 'banana']

Author Name : Tanatswa Chitaunhike